<div class="container text-center w-50 mt-5">
  <div class="text-center display-2 m-3 text-white">
    <h1>Word Limit : {{limit}}</h1>
  </div>

  <input type="range" min-value="1" max-value="50" value="{{limit}}" class="mt-5 slider form-control-range"
    (change)="handleSlideChange($event.target.value)" />


  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-info" (click)="generate()">Generate Words</button>

    </div>
    <div class="col-md-6">
      <button class="btn btn-success" (click)="generateCountry()">Generate Countries</button>

    </div>
  </div>


  <div *ngIf="words" class="card card-body">
    <p>{{ words }}</p>
  </div>

  <div *ngIf="countries" class="card card-body">
    <p>{{ countries }}</p>
  </div>


</div>